

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Demo.styles.css" asp-append-version="true" />
    <link href="~/css/all.min.css" rel="stylesheet" />
</head>
<body style="font-family:SANS-SERIF;" class="d-flex">
    <div style="width:20%;" class="container p-0">

        <nav style="background-color:#262d34; padding: 1rem;">
            <div class="container-fluid">
                <div class="mb-3">

                <h2  style="color:#ccc" class="">Easly</h2>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link text-white">Dashboard</a></li>
                    <li class="nav-item"><a asp-area="Admin" asp-action="Index" asp-controller="Product" class="nav-link text-white">Products</a></li>
                    <li class="nav-item"><a asp-area="Admin" asp-action="Index" asp-controller="Category" class="nav-link text-white">Categories</a></li>
                    <li class="nav-item"><a asp-area="Admin" asp-action="Index" asp-controller="Brand" class="nav-link text-white">Brands</a></li>

                    <li class="nav-item"><a asp-area="Admin" asp-action="Index" asp-controller="Order" class="nav-link text-white">Orders</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Users</a></li>
                    <li class="nav-item"><a asp-area="Admin" asp-action="Index" asp-controller="Store" class="nav-link text-white">Stores</a></li>
                    <li class="nav-item"><a asp-area="Admin" asp-action="Index" asp-controller="Stock" class="nav-link text-white">Stocks</a></li>
                    <li class="nav-item">
                        <partial name="_LoginPartial"></partial>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

    <div style="width:80%; background-color:#f6f6f6" class="container">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
