@model Demo.ViewModels.AddOrder

@{
    ViewData["Title"] = "Add Order";
}

<h2>Add Order</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        
        <input  value="@ViewBag.ID" asp-for="Product.ProductId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CustomerId" class="control-label"></label>
        <input asp-for="CustomerId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrderStatus" class="control-label"></label>
        <input asp-for="OrderStatus" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrderDate" class="control-label"></label>
        <input asp-for="OrderDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="RequiredDate" class="control-label"></label>
        <input asp-for="RequiredDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="ShippedDate" class="control-label"></label>
        <input asp-for="ShippedDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="StoreId" class="control-label"></label>
        <input asp-for="StoreId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StaffId" class="control-label"></label>
        <input asp-for="StaffId" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
